intercomunicacao-2.2.3.wsdl

<wsdl:definitions name="IntercomunicacaoService" targetNamespace="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:tns="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:ns1="http://schemas.xmlsoap.org/soap/http">
   <wsdl:types>
      <xs:schema targetNamespace="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.3" version="1.0" 
         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
         xmlns:xmime="http://www.w3.org/2005/05/xmlmime" 
         xmlns:ns1="http://www.cnj.jus.br/intercomunicacao-2.2.3">
         <xs:import namespace="http://www.cnj.jus.br/intercomunicacao-2.2.3"/>
         <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
         <xs:complexType name="tipoConsultarAlteracao">
            <xs:sequence>
               <xs:element form="qualified" name="idConsultante" type="xs:string"/>
               <xs:element form="qualified" name="senhaConsultante" type="xs:string"/>
               <xs:element form="qualified" name="numeroProcesso" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConsultarAlteracaoResposta">
            <xs:sequence>
               <xs:element form="qualified" name="sucesso" type="xs:boolean"/>
               <xs:element form="qualified" name="mensagem" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="hashCabecalho" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="hashMovimentacoes" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="hashDocumentos" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConsultarProcesso">
            <xs:sequence>
               <xs:element form="qualified" name="idConsultante" type="xs:string"/>
               <xs:element form="qualified" name="senhaConsultante" type="xs:string"/>
               <xs:element form="qualified" name="numeroProcesso" type="ns1:tipoNumeroUnico"/>
               <xs:element form="qualified" minOccurs="0" name="dataReferencia" type="ns1:tipoDataHora"/>
               <xs:element form="qualified" minOccurs="0" name="movimentos" type="xs:boolean"/>
               <xs:element form="qualified" minOccurs="0" name="incluirCabecalho" type="xs:boolean"/>
               <xs:element form="qualified" minOccurs="0" name="incluirDocumentos" type="xs:boolean"/>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConsultarProcessoResposta">
            <xs:sequence>
               <xs:element form="qualified" name="sucesso" type="xs:boolean"/>
               <xs:element form="qualified" name="mensagem" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="processo" type="ns1:tipoProcessoJudicial"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoEntregarManifestacaoProcessual">
            <xs:sequence>
               <xs:element form="qualified" minOccurs="0" name="idManifestante" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="senhaManifestante" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="numeroProcesso" type="ns1:tipoNumeroUnico"/>
               <xs:element form="qualified" minOccurs="0" name="dadosBasicos" type="ns1:tipoCabecalhoProcesso"/>
               <xs:element form="qualified" maxOccurs="unbounded" name="documento" type="ns1:tipoDocumento"/>
               <xs:element form="qualified" name="dataEnvio" type="ns1:tipoDataHora"/>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="parametros" nillable="true" type="ns1:tipoParametro"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConsultarTeorComunicacao">
            <xs:sequence>
               <xs:element form="qualified" minOccurs="0" name="idConsultante" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="senhaConsultante" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="numeroProcesso" type="ns1:tipoNumeroUnico"/>
               <xs:element form="qualified" minOccurs="0" name="identificadorAviso" type="ns1:identificadorComunicacao"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConsultarAvisosPendentes">
            <xs:sequence>
               <xs:element form="qualified" minOccurs="0" name="idRepresentado" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="idConsultante" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="senhaConsultante" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="dataReferencia" type="ns1:tipoDataHora"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoEntregarManifestacaoProcessualResposta">
            <xs:sequence>
               <xs:element form="qualified" name="sucesso" type="xs:boolean"/>
               <xs:element form="qualified" name="mensagem" type="xs:string"/>
               <xs:element form="qualified" name="protocoloRecebimento" type="xs:string"/>
               <xs:element form="qualified" name="dataOperacao" type="ns1:tipoDataHora"/>
               <xs:element form="qualified" minOccurs="0" name="recibo" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="parametro" nillable="true" type="ns1:tipoParametro"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConfirmarRecebimentoResposta">
            <xs:sequence>
               <xs:element form="qualified" name="sucesso" type="xs:boolean"/>
               <xs:element form="qualified" name="mensagem" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConsultarAvisosPendentesResposta">
            <xs:sequence>
               <xs:element form="qualified" name="sucesso" type="xs:boolean"/>
               <xs:element form="qualified" name="mensagem" type="xs:string"/>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="aviso" nillable="true" type="ns1:tipoAvisoComunicacaoPendente"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConsultarTeorComunicacaoResposta">
            <xs:sequence>
               <xs:element form="qualified" name="sucesso" type="xs:boolean"/>
               <xs:element form="qualified" name="mensagem" type="xs:string"/>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="comunicacao" nillable="true" type="ns1:tipoComunicacaoProcessual"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoConfirmarRecebimento">
            <xs:sequence>
               <xs:element form="qualified" name="idRecebedor" type="xs:string"/>
               <xs:element form="qualified" name="senhaRecebedor" type="xs:string"/>
               <xs:element form="qualified" name="protocolo" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/" 
         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
         xmlns:ns2="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.3" 
         xmlns:ns1="http://www.cnj.jus.br/intercomunicacao-2.2.3" 
         xmlns="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/">
         <xs:import namespace="http://www.cnj.jus.br/intercomunicacao-2.2.3"/>
         <xs:import namespace="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.3"/>
         <xs:element name="confirmarRecebimento" type="ns2:tipoConfirmarRecebimento"/>
         <xs:element name="confirmarRecebimentoResposta" type="ns2:tipoConfirmarRecebimentoResposta"/>
         <xs:element name="consultarAlteracao" type="ns2:tipoConsultarAlteracao"/>
         <xs:element name="consultarAlteracaoResposta" type="ns2:tipoConsultarAlteracaoResposta"/>
         <xs:element name="consultarAvisosPendentes" type="ns2:tipoConsultarAvisosPendentes"/>
         <xs:element name="consultarAvisosPendentesResposta" type="ns2:tipoConsultarAvisosPendentesResposta"/>
         <xs:element name="consultarProcesso" type="ns2:tipoConsultarProcesso"/>
         <xs:element name="consultarProcessoResposta" type="ns2:tipoConsultarProcessoResposta"/>
         <xs:element name="consultarTeorComunicacao" type="ns2:tipoConsultarTeorComunicacao"/>
         <xs:element name="consultarTeorComunicacaoResposta" type="ns2:tipoConsultarTeorComunicacaoResposta"/>
         <xs:element name="entregarManifestacaoProcessual" type="ns2:tipoEntregarManifestacaoProcessual"/>
         <xs:element name="entregarManifestacaoProcessualResposta" type="ns2:tipoEntregarManifestacaoProcessualResposta"/>
      </xs:schema>
      <xs:schema targetNamespace="http://www.cnj.jus.br/mni/criminal" 
         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
         xmlns:tns="http://www.cnj.jus.br/mni/criminal" 
         xmlns:ns1="http://www.cnj.jus.br/intercomunicacao-2.2.3">
         <xs:import namespace="http://www.cnj.jus.br/intercomunicacao-2.2.3"/>
         <xs:element name="Processo">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="numero" type="xs:string"/>
                  <xs:element minOccurs="0" name="fatoCriminal" type="tns:FatoCriminal"/>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="procedimentosOrigens" nillable="true" type="tns:ProcedimentoOrigem"/>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="partes" nillable="true" type="tns:Parte"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Prisao">
            <xs:sequence>
               <xs:element minOccurs="0" name="motivo" type="tns:MotivoPrisao"/>
               <xs:element minOccurs="0" name="tipo" type="tns:TipoPrisao"/>
               <xs:element minOccurs="0" name="prazoDias" type="xs:int"/>
               <xs:element minOccurs="0" name="prazoMeses" type="xs:int"/>
               <xs:element minOccurs="0" name="prazoAnos" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="MotivoPrisao">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:string"/>
               <xs:element minOccurs="0" name="descricao" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Dispositivo">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:string"/>
               <xs:element name="norma" type="xs:string"/>
               <xs:element name="tipo" type="tns:TipoDispositivo"/>
               <xs:element name="identificador" type="xs:string"/>
               <xs:element name="texto" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Filiacao">
            <xs:sequence>
               <xs:element minOccurs="0" name="nomePai" type="xs:string"/>
               <xs:element minOccurs="0" name="nomeMae" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="EventoCriminal">
            <xs:sequence>
               <xs:element name="data" type="ns1:tipoDataHora"/>
               <xs:element name="unidadePrisional" type="tns:UnidadePrisional"/>
               <xs:element minOccurs="0" name="prisao" type="tns:Prisao"/>
               <xs:element minOccurs="0" name="soltura" type="tns:Soltura"/>
               <xs:element minOccurs="0" name="fuga" type="tns:Fuga"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UnidadePrisional">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:string"/>
               <xs:element minOccurs="0" name="nome" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Soltura">
            <xs:sequence>
               <xs:element minOccurs="0" name="motivoSoltura" type="tns:MotivoSoltura"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="MotivoSoltura">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:string"/>
               <xs:element minOccurs="0" name="descricao" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Fuga">
            <xs:sequence>
               <xs:element minOccurs="0" name="descricao" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="FatoCriminal">
            <xs:sequence>
               <xs:element name="data" type="ns1:tipoDataHora"/>
               <xs:element minOccurs="0" name="endereco" type="ns1:tipoEndereco"/>
               <xs:element minOccurs="0" name="latitude" type="xs:string"/>
               <xs:element minOccurs="0" name="longitude" type="xs:string"/>
               <xs:element name="local" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ProcedimentoOrigem">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:string"/>
               <xs:element minOccurs="0" name="numero" type="xs:string"/>
               <xs:element minOccurs="0" name="ano" type="xs:int"/>
               <xs:element minOccurs="0" name="dataInstauracao" type="ns1:tipoDataHora"/>
               <xs:element minOccurs="0" name="dataLavratura" type="ns1:tipoDataHora"/>
               <xs:element minOccurs="0" name="protocolo" type="xs:string"/>
               <xs:element name="tipoOrigem" type="xs:string"/>
               <xs:element name="estado" type="xs:string"/>
               <xs:element name="orgaoProcedimentoOrigem" type="tns:OrgaoProcedimentoOrigem"/>
               <xs:element name="tipo" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="OrgaoProcedimentoOrigem">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:string"/>
               <xs:element minOccurs="0" name="nome" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Parte">
            <xs:sequence>
               <xs:element minOccurs="0" name="nome" type="xs:string"/>
               <xs:element minOccurs="0" name="numeroDocumentoPrincipal" type="ns1:tipoCadastroIdentificador"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="outrosNomes" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="alcunhas" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="filiacoes" nillable="true" type="tns:Filiacao"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="denuncias" nillable="true" type="tns:Denuncia"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="caracteristicasPessoais" nillable="true" type="tns:CaracteristicaFisica"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="eventosCriminais" nillable="true" type="tns:EventoCriminal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Denuncia">
            <xs:sequence>
               <xs:element name="tipo" type="tns:TipoDenuncia"/>
               <xs:element name="data" type="ns1:tipoDataHora"/>
               <xs:element minOccurs="0" name="observacao" type="xs:string"/>
               <xs:element name="dispositivo" type="tns:Dispositivo"/>
            </xs:sequence>
         </xs:complexType>
         <xs:simpleType name="TipoPrisao">
            <xs:restriction base="xs:string">
               <xs:enumeration value="CIVIL"/>
               <xs:enumeration value="DEFINITIVA"/>
               <xs:enumeration value="FINS_DE_EXPORTACAO"/>
               <xs:enumeration value="FINS_DE_EXPULSAO"/>
               <xs:enumeration value="FINS_DE_EXTRADICAO"/>
               <xs:enumeration value="FLAGRANTE"/>
               <xs:enumeration value="PREVENTIVA"/>
               <xs:enumeration value="PREVENTIVA_DETERMINADA"/>
               <xs:enumeration value="PROVISORIA"/>
               <xs:enumeration value="TEMPORARIA"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="TipoDispositivo">
            <xs:restriction base="xs:string">
               <xs:enumeration value="ARTIGO"/>
               <xs:enumeration value="PARAGRAFO"/>
               <xs:enumeration value="INCISO"/>
               <xs:enumeration value="ALINEA"/>
               <xs:enumeration value="ITEM"/>
               <xs:enumeration value="PARTE"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="TipoDenuncia">
            <xs:restriction base="xs:string">
               <xs:enumeration value="INDICIAMENTO"/>
               <xs:enumeration value="OFERECIMENTO"/>
               <xs:enumeration value="ADITAMENTO"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="CaracteristicaFisica">
            <xs:restriction base="xs:string">
               <xs:enumeration value="ALTURA_1_60"/>
               <xs:enumeration value="ALTURA_1_70"/>
               <xs:enumeration value="ALTURA_1_80"/>
               <xs:enumeration value="ALTURA_1_90"/>
               <xs:enumeration value="ALTURA_MAIS_DE_1_90"/>
               <xs:enumeration value="BARBA_CAVANHAQUE"/>
               <xs:enumeration value="BARBA_CHEIA"/>
               <xs:enumeration value="BARBA_IMBERBE"/>
               <xs:enumeration value="BARBA_RALA"/>
               <xs:enumeration value="BARBA_RASPADA"/>
               <xs:enumeration value="BIGODE_COMPRIDO"/>
               <xs:enumeration value="BIGODE_CURTO"/>
               <xs:enumeration value="BIGODE_FINO"/>
               <xs:enumeration value="BIGODE_GROSSO"/>
               <xs:enumeration value="BIGODE_NORMAL"/>
               <xs:enumeration value="BIGODE_RASPADO"/>
               <xs:enumeration value="BOCA_GRANDE"/>
               <xs:enumeration value="BOCA_MEDIA"/>
               <xs:enumeration value="BOCA_PEQUENA"/>
               <xs:enumeration value="COMPLEIO_GORDO"/>
               <xs:enumeration value="COMPLEIO_MAGRO"/>
               <xs:enumeration value="COMPLEIO_MEDIO"/>
               <xs:enumeration value="COMPLEIO_RAQUITICO"/>
               <xs:enumeration value="COMPLEIO_TRONCUDO"/>
               <xs:enumeration value="TIPO_CABELO_CALVO"/>
               <xs:enumeration value="TIPO_CABELO_CRESPOS"/>
               <xs:enumeration value="TIPO_CABELO_ENCARACOLADOS"/>
               <xs:enumeration value="TIPO_CABELO_LISOS"/>
               <xs:enumeration value="TIPO_CABELO_ONDULADOS"/>
               <xs:enumeration value="COR_CABELO_BRANCOS"/>
               <xs:enumeration value="COR_CABELO_CASTANHOS"/>
               <xs:enumeration value="COR_CABELO_GRISALHOS"/>
               <xs:enumeration value="COR_CABELO_LOUROS"/>
               <xs:enumeration value="COR_CABELO_PRETOS"/>
               <xs:enumeration value="COR_CABELO_RUIVOS"/>
               <xs:enumeration value="COR_OLHOS_AZUIS"/>
               <xs:enumeration value="COR_OLHOS_CASTANHOS"/>
               <xs:enumeration value="COR_OLHOS_MISTOS"/>
               <xs:enumeration value="COR_OLHOS_PRETOS"/>
               <xs:enumeration value="COR_OLHOS_VERDES"/>
               <xs:enumeration value="FORMATO_OLHOS_GRANDES"/>
               <xs:enumeration value="FORMATO_OLHOS_ORIENTAIS"/>
               <xs:enumeration value="FORMATO_OLHOS_PEQUENOS"/>
               <xs:enumeration value="FORMATO_OLHOS_REDONDOS"/>
               <xs:enumeration value="COR_PELE_AMARELA"/>
               <xs:enumeration value="COR_PELE_BRANCA"/>
               <xs:enumeration value="COR_PELE_INDIGENA"/>
               <xs:enumeration value="COR_PELE_NEGRA"/>
               <xs:enumeration value="COR_PELE_OUTRAS"/>
               <xs:enumeration value="COR_PELE_PARDA"/>
               <xs:enumeration value="LABIOS_FINOS"/>
               <xs:enumeration value="LABIOS_GROSSOS"/>
               <xs:enumeration value="LABIOS_LEPORINOS"/>
               <xs:enumeration value="LABIOS_MEDIOS"/>
               <xs:enumeration value="NARIZ_ACHATADO"/>
               <xs:enumeration value="NARIZ_AFILADO"/>
               <xs:enumeration value="NARIZ_ARREBITADO"/>
               <xs:enumeration value="NARIZ_COMPRIDO"/>
               <xs:enumeration value="NARIZ_CURVO_ADUNCO"/>
               <xs:enumeration value="NARIZ_PEQUENO"/>
               <xs:enumeration value="ORELHAS_ABERTAS"/>
               <xs:enumeration value="ORELHAS_COLADAS"/>
               <xs:enumeration value="ORELHAS_GRANDES"/>
               <xs:enumeration value="ORELHAS_MEDIAS"/>
               <xs:enumeration value="ORELHAS_PEQUENAS"/>
               <xs:enumeration value="PESCOCO_COMPRIDO"/>
               <xs:enumeration value="PESCOCO_CURTO"/>
               <xs:enumeration value="PESCOCO_FINO"/>
               <xs:enumeration value="PESCOCO_GROSSO"/>
               <xs:enumeration value="PESCOCO_MEDIO"/>
               <xs:enumeration value="ROSTO_OVAL"/>
               <xs:enumeration value="ROSTO_QUADRADO"/>
               <xs:enumeration value="ROSTO_REDONDO"/>
               <xs:enumeration value="ROSTO_TRIANGULAR"/>
               <xs:enumeration value="SOBRANCELHAS_FINAS"/>
               <xs:enumeration value="SOBRANCELHAS_GROSSAS"/>
               <xs:enumeration value="SOBRANCELHAS_SEPARADAS"/>
               <xs:enumeration value="SOBRANCELHAS_UNIDAS"/>
               <xs:enumeration value="TESTA_ALTA"/>
               <xs:enumeration value="TESTA_COM_ENTRADAS"/>
               <xs:enumeration value="TESTA_CURTA"/>
               <xs:enumeration value="OUTROS"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:schema>
      <xs:schema targetNamespace="http://www.cnj.jus.br/mni/cda" version="1.0" 
         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
         xmlns:tns="http://www.cnj.jus.br/mni/cda">
         <xs:element name="tipoDividaAtiva">
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" maxOccurs="unbounded" name="certidao" type="tns:tipoCertidao"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="tipoCertidao">
            <xs:sequence>
               <xs:element form="qualified" maxOccurs="unbounded" name="devedorPrincipal" type="tns:tipoDevedorPrincipal"/>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="devedorAlternativo" nillable="true" type="tns:tipoDevedorAlternativo"/>
               <xs:element form="qualified" maxOccurs="unbounded" name="valor" type="tns:valorDivida"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoDevedorPrincipal">
            <xs:sequence/>
            <xs:attribute name="inscricaoMF" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="tipoDevedorAlternativo">
            <xs:sequence/>
            <xs:attribute name="inscricaoMF" type="xs:string" use="required"/>
            <xs:attribute name="tipo" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="valorDivida">
            <xs:sequence/>
            <xs:attribute name="valor" type="xs:string" use="required"/>
            <xs:attribute name="dataApuracao" type="xs:date" use="required"/>
            <xs:attribute name="dataInicioIncidencia" type="xs:date"/>
            <xs:attribute name="rubrica" type="xs:string" use="required"/>
            <xs:attribute name="tipoValor" type="xs:string" use="required"/>
         </xs:complexType>
      </xs:schema>
      <xs:schema elementFormDefault="qualified" targetNamespace="http://www.cnj.jus.br/intercomunicacao-2.2.3" version="1.0" 
         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
         xmlns:xmime="http://www.w3.org/2005/05/xmlmime" 
         xmlns:tns="http://www.cnj.jus.br/intercomunicacao-2.2.3">
         <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
         <xs:element name="intercomunicacao" type="tns:tipoIntercomunicacao"/>
         <xs:simpleType name="tipoNumeroUnico">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:simpleType name="tipoDataHora">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:complexType name="tipoProcessoJudicial">
            <xs:sequence>
               <xs:element name="dadosBasicos" type="tns:tipoCabecalhoProcesso"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="movimento" nillable="true" type="tns:tipoMovimentoProcessual"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="tns:tipoDocumento"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoCabecalhoProcesso">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="polo" type="tns:tipoPoloProcessual"/>
               <xs:element maxOccurs="unbounded" name="assunto" type="tns:tipoAssuntoProcessual"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="magistradoAtuante" nillable="true" type="tns:tipoCadastroIdentificador"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="processoVinculado" nillable="true" type="tns:tipoVinculacaoProcessual"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="prioridade" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="outroParametro" nillable="true" type="tns:tipoParametro"/>
               <xs:element minOccurs="0" name="valorCausa" type="xs:double"/>
               <xs:element name="orgaoJulgador" type="tns:tipoOrgaoJulgador"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="outrosnumeros" nillable="true" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="numero" type="tns:tipoNumeroUnico" use="required"/>
            <xs:attribute name="competencia" type="xs:int"/>
            <xs:attribute name="classeProcessual" type="xs:int" use="required"/>
            <xs:attribute name="codigoLocalidade" type="xs:string" use="required"/>
            <xs:attribute name="nivelSigilo" type="xs:int" use="required"/>
            <xs:attribute name="intervencaoMP" type="xs:boolean"/>
            <xs:attribute name="tamanhoProcesso" type="xs:int"/>
            <xs:attribute name="dataAjuizamento" type="tns:tipoDataHora"/>
         </xs:complexType>
         <xs:complexType name="tipoPoloProcessual">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="parte" type="tns:tipoParte"/>
            </xs:sequence>
            <xs:attribute name="polo" type="tns:modalidadePoloProcessual"/>
         </xs:complexType>
         <xs:complexType name="tipoParte">
            <xs:sequence>
               <xs:element minOccurs="0" name="pessoa" type="tns:tipoPessoa"/>
               <xs:element minOccurs="0" name="interessePublico" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="advogado" nillable="true" type="tns:tipoRepresentanteProcessual"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="pessoaProcessualRelacionada" nillable="true" type="tns:tipoParte"/>
            </xs:sequence>
            <xs:attribute name="assistenciaJudiciaria" type="xs:boolean"/>
            <xs:attribute name="intimacaoPendente" type="xs:int"/>
            <xs:attribute name="relacionamentoProcessual" type="tns:modalidadeRelacionamentoProcessual"/>
         </xs:complexType>
         <xs:complexType name="tipoPessoa">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="outroNome" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="tns:tipoDocumentoIdentificacao"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="endereco" nillable="true" type="tns:tipoEndereco"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="pessoaRelacionada" nillable="true" type="tns:tipoRelacionamentoPessoal"/>
               <xs:element minOccurs="0" name="pessoaVinculada" type="tns:tipoPessoa"/>
            </xs:sequence>
            <xs:attribute name="nome" type="xs:string" use="required"/>
            <xs:attribute name="sexo" type="tns:modalidadeGeneroPessoa" use="required"/>
            <xs:attribute name="nomeGenitor" type="xs:string"/>
            <xs:attribute name="nomeGenitora" type="xs:string"/>
            <xs:attribute name="dataNascimento" type="tns:tipoData"/>
            <xs:attribute name="dataObito" type="tns:tipoData"/>
            <xs:attribute name="numeroDocumentoPrincipal" type="tns:tipoCadastroIdentificador"/>
            <xs:attribute name="tipoPessoa" type="tns:tipoQualificacaoPessoa" use="required"/>
            <xs:attribute name="cidadeNatural" type="xs:string"/>
            <xs:attribute name="estadoNatural" type="xs:string"/>
            <xs:attribute name="nacionalidade" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="tipoDocumentoIdentificacao">
            <xs:sequence/>
            <xs:attribute name="codigoDocumento" type="xs:string" use="required"/>
            <xs:attribute name="emissorDocumento" type="xs:string" use="required"/>
            <xs:attribute name="tipoDocumento" type="tns:modalidadeDocumentoIdentificador" use="required"/>
            <xs:attribute name="nome" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="tipoEndereco">
            <xs:sequence>
               <xs:element minOccurs="0" name="logradouro" type="xs:string"/>
               <xs:element minOccurs="0" name="numero" type="xs:string"/>
               <xs:element minOccurs="0" name="complemento" type="xs:string"/>
               <xs:element minOccurs="0" name="bairro" type="xs:string"/>
               <xs:element minOccurs="0" name="cidade" type="xs:string"/>
               <xs:element minOccurs="0" name="estado" type="xs:string"/>
               <xs:element minOccurs="0" name="pais" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="cep" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="tipoRelacionamentoPessoal">
            <xs:sequence>
               <xs:element name="pessoa" type="tns:tipoPessoa"/>
            </xs:sequence>
            <xs:attribute name="modalidadeRelacionamento" type="tns:modalidadesRelacionamentoPessoal"/>
         </xs:complexType>
         <xs:simpleType name="tipoData">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:simpleType name="tipoCadastroIdentificador">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:complexType name="tipoRepresentanteProcessual">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="endereco" nillable="true" type="tns:tipoEndereco"/>
            </xs:sequence>
            <xs:attribute name="nome" type="xs:string" use="required"/>
            <xs:attribute name="inscricao" type="tns:tipoCadastroOAB"/>
            <xs:attribute name="numeroDocumentoPrincipal" type="xs:string"/>
            <xs:attribute name="intimacao" type="xs:boolean" use="required"/>
            <xs:attribute name="tipoRepresentante" type="tns:modalidadeRepresentanteProcessual" use="required"/>
         </xs:complexType>
         <xs:simpleType name="tipoCadastroOAB">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:complexType name="tipoAssuntoProcessual">
            <xs:sequence>
               <xs:element minOccurs="0" name="codigoNacional" type="xs:int"/>
               <xs:element minOccurs="0" name="assuntoLocal" type="tns:tipoAssuntoLocal"/>
            </xs:sequence>
            <xs:attribute name="principal" type="xs:boolean"/>
         </xs:complexType>
         <xs:complexType name="tipoAssuntoLocal">
            <xs:sequence>
               <xs:element minOccurs="0" name="assuntoLocalPai" type="tns:tipoAssuntoLocal"/>
            </xs:sequence>
            <xs:attribute name="codigoAssunto" type="xs:int" use="required"/>
            <xs:attribute name="codigoPaiNacional" type="xs:int" use="required"/>
            <xs:attribute name="descricao" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="tipoVinculacaoProcessual">
            <xs:sequence/>
            <xs:attribute name="numeroProcesso" type="tns:tipoNumeroUnico" use="required"/>
            <xs:attribute name="vinculo" type="tns:modalidadeVinculacaoProcesso" use="required"/>
         </xs:complexType>
         <xs:complexType name="tipoParametro">
            <xs:sequence/>
            <xs:attribute name="nome" type="xs:string"/>
            <xs:attribute name="valor" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="tipoOrgaoJulgador">
            <xs:sequence/>
            <xs:attribute name="codigoOrgao" type="xs:string" use="required"/>
            <xs:attribute name="nomeOrgao" type="xs:string" use="required"/>
            <xs:attribute name="instancia" type="xs:string" use="required"/>
            <xs:attribute name="codigoMunicipioIBGE" type="xs:int" use="required"/>
         </xs:complexType>
         <xs:complexType name="tipoMovimentoProcessual">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="complemento" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="movimentoNacional" type="tns:tipoMovimentoNacional"/>
               <xs:element minOccurs="0" name="movimentoLocal" type="tns:tipoMovimentoLocal"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="idDocumentoVinculado" nillable="true" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="dataHora" type="tns:tipoDataHora" use="required"/>
            <xs:attribute name="nivelSigilo" type="xs:int"/>
            <xs:attribute name="identificadorMovimento" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="tipoMovimentoNacional">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="complemento" nillable="true" type="tns:tipoComplemento"/>
            </xs:sequence>
            <xs:attribute name="codigoNacional" type="xs:int" use="required"/>
         </xs:complexType>
         <xs:simpleType name="tipoComplemento">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:complexType name="tipoMovimentoLocal">
            <xs:sequence>
               <xs:element minOccurs="0" name="movimentoLocalPai" type="tns:tipoMovimentoLocal"/>
            </xs:sequence>
            <xs:attribute name="codigoMovimento" type="xs:int" use="required"/>
            <xs:attribute name="codigoPaiNacional" type="xs:int" use="required"/>
            <xs:attribute name="descricao" type="xs:string" use="required"/>
         </xs:complexType>
         <xs:complexType name="tipoDocumento">
            <xs:sequence>
               <xs:element minOccurs="0" name="conteudo" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="assinatura" nillable="true" type="tns:tipoAssinatura"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="outroParametro" nillable="true" type="tns:tipoParametro"/>
               <xs:any namespace="##other" processContents="lax"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="documentoVinculado" nillable="true" type="tns:tipoDocumento"/>
            </xs:sequence>
            <xs:attribute name="idDocumento" type="xs:string"/>
            <xs:attribute name="idDocumentoVinculado" type="xs:string"/>
            <xs:attribute name="tipoDocumento" type="xs:string" use="required"/>
            <xs:attribute name="dataHora" type="tns:tipoDataHora"/>
            <xs:attribute name="mimetype" type="xs:string"/>
            <xs:attribute name="nivelSigilo" type="xs:int"/>
            <xs:attribute name="movimento" type="xs:int"/>
            <xs:attribute name="hash" type="xs:string"/>
            <xs:attribute name="descricao" type="xs:string"/>
            <xs:attribute name="tipoDocumentoLocal" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="tipoAssinatura">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="signatarioLogin" nillable="true" type="tns:tipoSignatarioSimples"/>
            </xs:sequence>
            <xs:attribute name="assinatura" type="xs:string"/>
            <xs:attribute name="dataAssinatura" type="tns:tipoDataHora"/>
            <xs:attribute name="cadeiaCertificado" type="xs:string"/>
            <xs:attribute name="algoritmoHash" type="xs:string"/>
            <xs:attribute name="codificacaoCertificado" type="xs:string"/>
         </xs:complexType>
         <xs:complexType name="tipoSignatarioSimples">
            <xs:sequence/>
            <xs:attribute name="identificador" type="xs:string"/>
            <xs:attribute name="dataHora" type="tns:tipoDataHora"/>
         </xs:complexType>
         <xs:complexType name="tipoIntercomunicacao">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="processojudicial" nillable="true" type="tns:tipoProcessoJudicial"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="avisocomunicacao" nillable="true" type="tns:tipoAvisoComunicacaoPendente"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="comunicacaoprocessual" nillable="true" type="tns:tipoComunicacaoProcessual"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="tns:tipoDocumento"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="tipoAvisoComunicacaoPendente">
            <xs:sequence>
               <xs:element name="destinatario" type="tns:tipoParte"/>
               <xs:element name="processo" type="tns:tipoCabecalhoProcesso"/>
               <xs:element name="dataDisponibilizacao" type="tns:tipoDataHora"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="parametro" nillable="true" type="tns:tipoParametro"/>
            </xs:sequence>
            <xs:attribute name="idAviso" type="tns:identificadorComunicacao" use="required"/>
            <xs:attribute name="tipoComunicacao" type="tns:tipoComunicacao"/>
         </xs:complexType>
         <xs:simpleType name="identificadorComunicacao">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:simpleType name="tipoComunicacao">
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
         <xs:complexType name="tipoComunicacaoProcessual">
            <xs:sequence>
               <xs:element name="destinatario" type="tns:tipoParte"/>
               <xs:element name="processo" type="xs:string"/>
               <xs:element minOccurs="0" name="teor" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="tns:tipoDocumento"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="parametro" nillable="true" type="xs:string"/>
               <xs:any namespace="##other" processContents="lax"/>
            </xs:sequence>
            <xs:attribute name="id" type="tns:identificadorComunicacao" use="required"/>
            <xs:attribute name="tipoComunicacao" type="tns:tipoComunicacao"/>
            <xs:attribute name="tipoPrazo" type="tns:tipoPrazo"/>
            <xs:attribute name="dataReferencia" type="tns:tipoDataHora"/>
            <xs:attribute name="prazo" type="xs:int"/>
            <xs:attribute name="nivelSigilo" type="xs:int"/>
         </xs:complexType>
         <xs:simpleType name="modalidadeDocumentoIdentificador">
            <xs:restriction base="xs:string">
               <xs:enumeration value="CI"/>
               <xs:enumeration value="CNH"/>
               <xs:enumeration value="TE"/>
               <xs:enumeration value="CN"/>
               <xs:enumeration value="CC"/>
               <xs:enumeration value="PAS"/>
               <xs:enumeration value="CT"/>
               <xs:enumeration value="RIC"/>
               <xs:enumeration value="CMF"/>
               <xs:enumeration value="PIS_PASEP"/>
               <xs:enumeration value="CEI"/>
               <xs:enumeration value="NIT"/>
               <xs:enumeration value="CP"/>
               <xs:enumeration value="IF"/>
               <xs:enumeration value="OAB"/>
               <xs:enumeration value="RJC"/>
               <xs:enumeration value="RGE"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="modalidadesRelacionamentoPessoal">
            <xs:restriction base="xs:string">
               <xs:enumeration value="P"/>
               <xs:enumeration value="AP"/>
               <xs:enumeration value="SP"/>
               <xs:enumeration value="T"/>
               <xs:enumeration value="C"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="modalidadeGeneroPessoa">
            <xs:restriction base="xs:string">
               <xs:enumeration value="M"/>
               <xs:enumeration value="F"/>
               <xs:enumeration value="D"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="tipoQualificacaoPessoa">
            <xs:restriction base="xs:string">
               <xs:enumeration value="fisica"/>
               <xs:enumeration value="juridica"/>
               <xs:enumeration value="autoridade"/>
               <xs:enumeration value="orgaorepresentacao"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="modalidadeRepresentanteProcessual">
            <xs:restriction base="xs:string">
               <xs:enumeration value="A"/>
               <xs:enumeration value="E"/>
               <xs:enumeration value="M"/>
               <xs:enumeration value="D"/>
               <xs:enumeration value="P"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="modalidadeRelacionamentoProcessual">
            <xs:restriction base="xs:string">
               <xs:enumeration value="CP"/>
               <xs:enumeration value="RP"/>
               <xs:enumeration value="TF"/>
               <xs:enumeration value="AT"/>
               <xs:enumeration value="AS"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="modalidadePoloProcessual">
            <xs:restriction base="xs:string">
               <xs:enumeration value="AT"/>
               <xs:enumeration value="PA"/>
               <xs:enumeration value="TC"/>
               <xs:enumeration value="FL"/>
               <xs:enumeration value="TJ"/>
               <xs:enumeration value="AD"/>
               <xs:enumeration value="VI"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="modalidadeVinculacaoProcesso">
            <xs:restriction base="xs:string">
               <xs:enumeration value="CX"/>
               <xs:enumeration value="CT"/>
               <xs:enumeration value="DP"/>
               <xs:enumeration value="AR"/>
               <xs:enumeration value="CD"/>
               <xs:enumeration value="OR"/>
               <xs:enumeration value="RR"/>
               <xs:enumeration value="RG"/>
            </xs:restriction>
         </xs:simpleType>
         <xs:simpleType name="tipoPrazo">
            <xs:restriction base="xs:string">
               <xs:enumeration value="HOR"/>
               <xs:enumeration value="DIA"/>
               <xs:enumeration value="MES"/>
               <xs:enumeration value="ANO"/>
               <xs:enumeration value="DATA_CERTA"/>
               <xs:enumeration value="SEMPRAZO"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="consultarAvisosPendentesResponse">
      <wsdl:part element="tns:consultarAvisosPendentesResposta" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultarAlteracaoResponse">
      <wsdl:part element="tns:consultarAlteracaoResposta" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="confirmarRecebimentoResponse">
      <wsdl:part element="tns:confirmarRecebimentoResposta" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultarAlteracao">
      <wsdl:part element="tns:consultarAlteracao" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="entregarManifestacaoProcessualResponse">
      <wsdl:part element="tns:entregarManifestacaoProcessualResposta" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultarTeorComunicacaoResponse">
      <wsdl:part element="tns:consultarTeorComunicacaoResposta" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultarProcessoResponse">
      <wsdl:part element="tns:consultarProcessoResposta" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultarProcesso">
      <wsdl:part element="tns:consultarProcesso" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultarTeorComunicacao">
      <wsdl:part element="tns:consultarTeorComunicacao" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="entregarManifestacaoProcessual">
      <wsdl:part element="tns:entregarManifestacaoProcessual" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="confirmarRecebimento">
      <wsdl:part element="tns:confirmarRecebimento" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="consultarAvisosPendentes">
      <wsdl:part element="tns:consultarAvisosPendentes" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="servico-intercomunicacao-2.2.3">
      <wsdl:operation name="consultarAlteracao">
         <wsdl:input message="tns:consultarAlteracao" name="consultarAlteracao"/>
         <wsdl:output message="tns:consultarAlteracaoResponse" name="consultarAlteracaoResponse"/>
      </wsdl:operation>
      <wsdl:operation name="consultarProcesso">
         <wsdl:input message="tns:consultarProcesso" name="consultarProcesso"/>
         <wsdl:output message="tns:consultarProcessoResponse" name="consultarProcessoResponse"/>
      </wsdl:operation>
      <wsdl:operation name="consultarTeorComunicacao">
         <wsdl:input message="tns:consultarTeorComunicacao" name="consultarTeorComunicacao"/>
         <wsdl:output message="tns:consultarTeorComunicacaoResponse" name="consultarTeorComunicacaoResponse"/>
      </wsdl:operation>
      <wsdl:operation name="entregarManifestacaoProcessual">
         <wsdl:input message="tns:entregarManifestacaoProcessual" name="entregarManifestacaoProcessual"/>
         <wsdl:output message="tns:entregarManifestacaoProcessualResponse" name="entregarManifestacaoProcessualResponse"/>
      </wsdl:operation>
      <wsdl:operation name="confirmarRecebimento">
         <wsdl:input message="tns:confirmarRecebimento" name="confirmarRecebimento"/>
         <wsdl:output message="tns:confirmarRecebimentoResponse" name="confirmarRecebimentoResponse"/>
      </wsdl:operation>
      <wsdl:operation name="consultarAvisosPendentes">
         <wsdl:input message="tns:consultarAvisosPendentes" name="consultarAvisosPendentes"/>
         <wsdl:output message="tns:consultarAvisosPendentesResponse" name="consultarAvisosPendentesResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="IntercomunicacaoServiceSoapBinding" type="tns:servico-intercomunicacao-2.2.3">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="consultarAlteracao">
         <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/consultarAlteracao" style="document"/>
         <wsdl:input name="consultarAlteracao">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="consultarAlteracaoResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="consultarProcesso">
         <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/consultarProcesso" style="document"/>
         <wsdl:input name="consultarProcesso">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="consultarProcessoResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="consultarTeorComunicacao">
         <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/consultarTeorComunicacao" style="document"/>
         <wsdl:input name="consultarTeorComunicacao">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="consultarTeorComunicacaoResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="entregarManifestacaoProcessual">
         <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/entregarManifestacaoProcessual" style="document"/>
         <wsdl:input name="entregarManifestacaoProcessual">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="entregarManifestacaoProcessualResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="confirmarRecebimento">
         <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/confirmarRecebimento" style="document"/>
         <wsdl:input name="confirmarRecebimento">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="confirmarRecebimentoResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="consultarAvisosPendentes">
         <soap:operation soapAction="http://www.cnj.jus.br/servico-intercomunicacao-2.2.3/consultarAvisosPendentes" style="document"/>
         <wsdl:input name="consultarAvisosPendentes">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="consultarAvisosPendentesResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="IntercomunicacaoService">
      <wsdl:port binding="tns:IntercomunicacaoServiceSoapBinding" name="IntercomunicacaoImplPort">
         <soap:address location="https://pje-ead.tjdft.jus.br/pje/intercomunicacao"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>